.container{
    margin: 0 auto;
    width: 1460px;
    font-family: 'Gilam';   
    
}
 .title{
    color: white;
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    padding-bottom: 43px;
    display: flex;
 }

 .subtitle{
    font-family: 'Gilam';
    font-weight: 700;
    color: white;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 41px;
 }

.grid{
    display: grid;
    color: white;
    justify-content: center;
    margin: 0 auto;
}

button{
    border: 1px solid #E4B564;
    background-color: #171717;
    height: 50px;
    width: auto;
    font-family: 'Gilam';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #E4B564;
    margin-top: 0;
    margin-right: 0;
}

.callback{
    text-decoration: none;
    color: #E4B564;
}

.header{
    height: 162px;
    padding-top: 37px;
    display: flex;
    justify-content: space-between;
}

.main-logo{
    height: 79px;
    width: 357px;
}

.grey-section{
    background-color: #171717;
}

.first-grid{
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 27px 30px;
}

.first-grid-el{
    font-family: 'Gilam';
    font-weight: 700;
    height: 468px;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
}


.first-grid-el__item-one{
    background-color: #634F2C;
    grid-column: 1 / 3;
}

.first-grid-el__item-two{
    background-color: #B4A385;
    grid-column: 3 / 5;;
}

.first-grid-el__item-three{
    background-color: #E4B564;
    grid-column: 5 / 7;
}

.first-grid-el__item-four{
    background-color: #635A4A;
    grid-column: 1 / 4;
}

.first-grid-el__item-five{
    background-color: #B08C4D;
    grid-column: 4 / 7;
}

.second-title{
    padding-top: 161px;
    margin-bottom: 94px;
}

.second-grid{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 255px 31px 99px 101px 277px;
    height: 897px;
    gap: 27px 30px;
    padding-bottom: 191.5px;
}

.second-grid-el{
    width: 467px;
    color: white;

}

.top-left-text{
    display: block;
    padding-top: 44px;
    padding-left: 51px;
}

.second-grid-el__item-one{
    background-color: #0E0E0E;
    height: 313px;
    grid-row: 1 / 3;
}

.second-grid-el__item-two{
    background-color: #242424;
    height: 439px;
    grid-row: 1 / 4;
}

.second-grid-el__item-three{
    background-color: #1F1F1F;
    height: 255px;
    grid-row: 1 / 2;
}

.second-grid-el__item-four{
    background-color: #1F1F1F;
    height: 560px;
    grid-row: 3 / 6;
}

.second-grid-el__item-five{
    background-color: #E4B564;
    height: 405px;
    color: #0E0E0E;
    grid-row: 4 / 6;
}

.second-grid-el__item-six{
    background-color:#0E0E0E;   
    grid-row: 2 / 5;
}

.second-grid-el__item-seven{
    background-color: #0A0909;
    height: 277px;
    grid-column: 3 / 4;
    grid-row: 5 / 6;
}

.black-section{
    background-color: #0e0e0e;
}

.third-title{
    padding-top: 172px;
    margin-bottom: 72px;
    display: flex;
    justify-content: space-between;
}

.third-grid{
    grid-template-columns: repeat(3, 1fr);
    width: 1458px;
}

.third-grid-el{
    height: 391px;
    width: 486px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Gilam';
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    
}

.item-logo-eid{
    width: 185px;
    height: 49px;
}

.item-just-logo{
    width: 62px;
    height: 55px;
}

.item-logo-sg{
    width: 119px;
    height: 53px;
}

.third-grid-el__item-one{
    background-color: #634F2C;
}
.third-grid-el__item-two{
    background-color: rgba(232, 210, 171, 0.76);
    text-align: center;
}
.third-grid-el__item-three{
    background-color: #E4B564;
}
.third-grid-el__item-four{
    background-color: #635A4A;
}
.third-grid-el__item-five{
    background-color: #B08C4D;
}
.third-grid-el__item-six{
    background-color: #634F2C;
}

.footer{
    height: 239px;
}